# Django Security Settings
SECRET_KEY=your-django-secret-key-here
DEBUG=True
ALLOWED_HOSTS=*

# Database Settings
# Comment out DATABASE_URL to fallback to local SQLite
DATABASE_URL=postgres://user:password@host:port/database

# CORS Settings (CORS is allowed for all origins in settings)
# CORS_ALLOWED_ORIGINS=*

# Cloudinary Settings
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

